%section.product.col-xs-12.col-sm-4.col-md-3.col-lg-2
  %h3= link_to product.name, product
  %p= number_to_currency product.price
  %p= product.description
  - if product.picture_file_name
    %p.img-thumbnail= link_to image_tag(product.picture, :width => '150'), product