.container#main-wrapper
  .row
    .header
      = link_to image_tag("lion_vector.png", {:class => 'lion'}), home_path
      %h1.text-center Summerskin Clothing
      = link_to image_tag("lion_vector_inverse.png", {:class => 'inverse lion'}), admin_path
    %nav.navbar.navbar-default{:role => 'navigation'}
      .navbar-header
        %button.navbar-toggle{:type => 'button', 'data-toggle' => "collapse", 'data-target' => '#navbar-collapse'}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .collapse.navbar-collapse#navbar-collapse
        %ul.nav.navbar-nav
          %li.active 
            %a About
          %li
            %a Contact
          %li
            %a Home
        %form.navbar-form.navbar-right{:role => 'search'}
          .form-group
            %input.form-control{:type => 'text', :placeholder => 'search'}
          %button.btn.btn-default{:type => 'submit'} Submit

    %section.ss-banner= image_tag 'ss_banner.png', :id => 'ss-banner'

  .row
    %aside#side-nav.container.col
      
    .container#products
      .row= render @products
